# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
.venv/

# OS-specific
.DS_Store
Thumbs.db

# Logs or temp
*.log
*.tmp

input/*
output/*